.header {
  background-color: #f5f5f5;
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
}

.content {
  display: flex;
  align-items: center;
  padding: 16px;
  .content_description {
    margin: 0 auto;
  }

  .content_img {
    max-width: 100%;
    height: auto;
  }
}
